.product-table {
    width: 100%;
    border-collapse: collapse;
    margin: 16px 0;
  }
  
  .product-table th, .product-table td {
    padding: 12px;
    border: 1px solid black;
    text-align: center;
  }
  
  .product-table th {
    background-color: white;
  }
  
  .promocja {
    background-color: rgb(248, 46, 80);
  }